<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <p>Key in the date in the url and it will return the output format.<br/>
        The following formats are accepted:

      <ul>
        <li>Hyphenated Date: &nbsp;&nbsp;https://date-time-microservice.herokuapp.com/api/2015-12-25</li>
        <li>String Date: &emsp;&emsp;&emsp;https://date-time-microservice.herokuapp.com/api/25 December 2015</li>
        <li>Unix Time: &emsp;&emsp;&emsp;&nbsp;https://date-time-microservice.herokuapp.com/api/1451001600000</li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        unix: 1451001600000 <br/> utc: Fri, 25 Dec 2015 00:00:00 GMT
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href=https://ye-song.github.io/projects/>ye-song</a>
      </p>
    </div>
  </body>
</html>
